html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
}

body {
  font-family: var(--font-main);
  font-size: var(--size-500);
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
  line-height: 1.5;
}

p + p {
  margin-block-start: var(--size-300);
}

h1 {
  font-size: var(--size-900);
}

h2 {
  font-size: var(--size-800);
}

h3 {
  font-size: var(--size-700);
}

h4 {
  font-size: var(--size-600);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headings);
  font-weight: 800;
  line-height: 1.2;
  margin-block-start: var(--size-600);
  text-wrap: balance;
}

:target {
  scroll-margin-top: var(--size-300);
}

textarea:not([rows]) {
  min-height: 10em;
}

blockquote:not([class]) {
  margin-block: 1em;
  padding-block: 1em;
  padding-inline: 2em;
  border-inline-start: 20px solid var(--color-primary);
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
  background-color: var(--color-light-blue);
}

label:not([class]),
input:not([class]),
select:not([class]) {
  display: block;
}

main {
  display: block;
  padding-block-start: var(--size-600);
  padding-block-end: var(--size-900);
}

big {
  font-size: var(--size-1200);
}

small {
  font-size: var(--size-300); 
}

@media print {
  header {
    display: none;
  }
}