---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout
  title="404 - Not found"
  description="Error 404, not found."
>
  <h1>404 - Not found</h1>
  <p>You can go back to <a href="/">Home page</a> to find more resources!</p>
</PageLayout>

<style>
  h1, p {
    text-align: center;
  }
</style>