---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Prism } from "@astrojs/prism";
import InlinePrism from "@components/InlinePrism.astro";
import PageHeader from "@components/PageHeader.astro";
---

<BaseLayout 
	title="Welcome to Astro." 
	description="Astro base starter home page."
>
	<PageHeader />
	<main class="wrapper-lg">
		<h1><big><span class="gradient">Astro</span> Base <span class="gradient">Starter</span></big></h1>
		<section class="wrapper">
			<p>
				To get started, open the directory <InlinePrism lang="js" code={`src/pages`} /> in your project.<br>
				<strong>Code Challenge:</strong> Tweak the "Astro Base Starter" message above.
			</p>
			<Prism 
				lang="js" 
				code={`const num = 123;
function read(input) {
	return input.toString();
}

const text = read(num);`
			} />
		</section>
	</main>
</BaseLayout>

<style>
	.gradient {
		background: var(--gradient-primary);
  	background-clip: text;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	}

	h1 {
		width: fit-content;
		margin-inline: auto;
	}
</style>
