.flow-xs > * + * {
  margin-block-start: var(--size-100);
}

.flow-sm > * + * {
  margin-block-start: var(--size-200);
}

.flow > * + * {
  margin-block-start: var(--size-400);
}

.flow-md > * + * {
  margin-block-start: var(--size-700);
}

.flow-lg > * + * {
  margin-block-start: var(--size-900);
}

.flow-xl > * + * {
  margin-block-start: var(--size-1200);
}