---
import BaseLayout from "./BaseLayout.astro";
const { title, description} = Astro.props;
---

<BaseLayout 
  title = {title} 
  description = {description} 
>
  <header></header>
  <main>
    <slot />
  </main>
  <footer></footer>
</BaseLayout>