---
import BaseLayout from "./BaseLayout.astro";
import { getCollection } from 'astro:content';
import type { Props } from "@layouts/BaseLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import PageFooter from "@components/PageFooter.astro";

const { title, description} = Astro.props;
---

<BaseLayout 
  title = {title} 
  description = {description} 
>
  <PageHeader />
  <main>
    <section class="wrapper flow flow-md">
      <slot />
    </section>
  </main>
  <PageFooter />
</BaseLayout>